.section--get-started {}

.container--get-started {
    padding-top: 90px;
    padding-bottom: 145px;
    border-radius: var(--border-radius-x-lg);
    background-color: #221048;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    max-width: 1308px;
}

.info--get-started {
    max-width: 507px;
    width: 100%;
}

.cards--service {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 20px;
    padding-top: 70px;
    justify-content: center;
}

.card--service,
service-card {
    flex: 0 0 30%;
    min-width: 280px;
    padding: 58px 47px;
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__name {
            font-weight: 700;
        }

        &__text {
            font-size: var(--font-size-xx-sm);
            color: var(--color-text-tertiary);
        }

        &__price {
            font-size: var(--font-size-xx-lg);
            font-weight: 700;
        }
    }

    &__list {
        list-style: none;
        text-align: center;

        &__item {
            line-height: 36px;
        }
    }

}

.divider--services {
    background-color: var(--color-tertiary);
    width: 90%;
    margin: 37px 0;
}

$purple: #3F2379;
$blue: #233679;
$pink: #792366;
.purple {
    background-color: $purple;
}

.blue {
    background-color: $blue;
}

.pink {
    background-color: $pink;
}

.card--service__button {
    margin-top: 50px;
    width: 100%;
    border-radius: var(--border-radius-sm);
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.card--service__button.purple {
    background-color: var(--color-text-primary);
    color: $purple;
}
.card--service__button.blue {
    background-color: var(--color-text-primary);
    color: $blue;
}
.card--service__button.pink {
    background-color: var(--color-text-primary);
    color: $pink;
}