.section--header {}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-site-identity__container {
    display: flex;
    justify-content: space-between;
}

.header-navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 65%;
}

.site-identity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17.25px;
}

.site-title {
    font-size: var(--font-size-lg);
}

.header-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    gap: 20px;

    &__link {
        color: var(--color-nav-link--inactive);
        transition: all 0.2s ease-in;

        &:hover {
            color: var(--color-nav-link--active);
            cursor: pointer;
        }
    }
}

#button-mobile-navigation {
    display: none;
}

@media only screen and (max-width: 768px) {

    .container--header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }

    .header-site-identity__container {
        justify-content: center;
        width: 100%;
    }

    .header-navigation__container {
        width: 100%;
    }

}

@media only screen and (min-width: 600px) {
    .header-navigation__container {
        display: flex;
    }
}

@media only screen and (max-width: 600px) {

    .container--header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
    }

    .header-site-identity__container {
        justify-content: space-between;
        align-items: center;
    }

    .header-navigation__container {
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    #button-mobile-navigation {
        display: block;
    }

    .header-navigation {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        list-style: none;
        justify-content: space-between;
        width: clamp(300px, 50%, 424px);
    }

}