.button {
    background: none;
    border: none;
    color: var(--color-text-primary);
    font-family: var(--font-family-body);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    z-index: 1;
    transition: all 0.2s ease-in;

    &--primary {
        background: var(--color-button-primary);

        &:hover {
            background: var(--color-button-primary-active);
        }
    }


    &--secondary {
        background: var(--color-button-secondary);
        box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);

        &:hover {
            background: var(--color-button-secondary-active);
            box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.10);
        }
    }

    &--circular {
        border-radius: 100px;
        border: 1px solid var(--color-text-primary);
        background-color: transparent;
    }

    &--sm {
        padding: 10px 30px;
        font-size: var(--font-size-x-sm);
    }

    &--lg {
        padding: 15px 55px;
        font-size: var(--font-size-default);
    }

    &--icon {

    }
}