@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --color-background: #161625;

    --color-primary: #6016FC;
    --color-secondary: rgba(255, 255, 255, 0.10);
    --color-tertiary: rgba(255, 255, 255, 0.05);

    --color-text-primary: #FFFFFF;
    --color-text-secondary: rgba(255, 255, 255, 0.80);
    --color-text-tertiary: rgba(255, 255, 255, 0.60);
    --color-text-accent: #16FCD2;

    --color-context-heading: var(--color-text-accent);
    --color-heading: var(--color-text-primary);
    --color-body: var(--color-text-tertiary);

    --color-nav-link--active: var(--color-text-primary);
    --color-nav-link--inactive: var(--color-text-secondary);

    --color-button-primary: var(--color-primary);
    --color-button-primary-active: #4110ab;

    --color-button-secondary: var(--color-secondary);
    --color-button-secondary-active: var(--color-tertiary);
    

    --border-radius-sm: 3px;
    /* Used in button and cards */
    --border-radius-md: 5px;
    /* Used in cards */
    --border-radius-lg: 10px;
    /* Used in cards */
    --border-radius-x-lg: 30px;
    /* Used in card containers */

    --font-family-heading: 'Noto Sans', sans-serif;
    --font-family-body: 'Noto Sans', sans-serif;

    --font-size-xx-lg: clamp(30px, 4vw, 36px);
    --font-size-x-lg: clamp(24px, 4vw, 30px);
    --font-size-lg: clamp(18px, 3vw, 24px);
    --font-size-md: clamp(16px, 3vw, 20px);
    --font-size-sm: clamp(15px, 3vw, 18px);
    --font-size-default: clamp(12px, 1.75vw, 16px);
    --font-size-x-sm: clamp(10px, 1.5vw, 14px);
    --font-size-xx-sm: clamp(8px, 1vw, 12px);

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-family-body);
    font-size: var(--font-size-default);
}

h1 {
    font-size: var(--font-size-xx-lg);
}

h2 {
    font-size: var(--font-size-x-lg);
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-md);
}
h5 {
    font-size: var(--font-size-sm);
}
h6 {
    font-size: var(--font-size-x-sm);
}