.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1030px;
}

.info {
    width: 600px;
    max-width: 100%;

    &__context-heading{
        text-transform: uppercase;
        color: var(--color-context-heading);
        font-weight: 600;
    }

    &__main-heading {
        padding-top: 13px;
        color: var(--color-heading);
    }

    &__content {
        width: 90%;
        padding-top: 24px;
        font-weight: 500;
        color: var(--color-body);
    }
}

.divider {
    height: 1px;
    width: 75%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.10);
}

button {
    height: fit-content;
}