.container--projects {
    margin-top: 110px;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
}

.info--projects {
    max-width: 507px;
    text-align: center;
}
.info__main-heading--projects {
   padding-top: 4px;
}